<!DOCTYPE html>
<!--Adding the Thymeleaf namespace-->
<!--Adding the tag 'th' to reference this namespace-->
<!--This will give Thymeleaf extension to this xml doc-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringFramework Practice</title>
</head>
<body>

<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
<!--    Thymeleaf will iterate over 'books' arriving from the view-->
<!--    Thymeleaf will render this element for each book from books-->
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}">Spring in Action</td>
        <td th:text="${book.publisher.name}">Wrox</td>
    </tr>
</table>

</body>
</html>